{
	"branches": ["main", "next"],
	"repositoryUrl": "https://github.com/jessicasachs/test-semantic-release",
	"plugins": [
		["@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [
					{ "type": "patch", "release": "patch" },
          { "type": "docs", "scope": "README", "release": "patch" },
          { "type": "refactor", "release": "patch" },
          { "scope": "no-release", "release": false }
        ]
      }],
		["@semantic-release/release-notes-generator", {
			"writerOpts": {
				"commitsSort": ["subject", "scope"],
				"headerPattern": "# Merp? ${version} (${date})",
				"headerPartial": "## Merp? {{#if isPatch~}} <small> {{~/if~}} {{version}} {{~#if title}} \"{{title}}\" {{~/if~}} {{~#if date}} ({{date}}) {{~/if~}} {{~#if isPatch~}} </small> {{~/if~}}",
				"footerPartial": "{{#each releases}}## {{title}} ({{date}}) {{#each commits}}* {{subject}} ({{authorName}}){{/each}}{{/each}}"
			}
		}],
		[
			"@semantic-release/changelog",
			{
				"changelogTitle": "# Changelog\n\nAll notable changes to this project will be documented in this file. See\n[Conventional Commits](https://conventionalcommits.org) for commit guidelines."
			}
		],
		[
			"@semantic-release/github",
			{
				"assets": "dist/*.tgz"
			}
		],
		[
			"@semantic-release/git",
			{
				"message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
			}
		]
	]
}
